:root {
  --Primary: #17061E;
  --Secondary: #07010A;
  --Accent: yellow;
  --PrimaryTrans: rgba(7, 1, 10, 0.45);
  --SecondaryTrans: rgba(23, 6, 30, 0.45);
  --AccentTrans: rgba(255, 255, 0, 0.33);
}
* {
  color-scheme: light only;
  font-family: 'Afacad', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  position: relative;
  min-height: 100%;
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -3;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: var(--Secondary);
  background-image: url("../Assets/Images/bg.webp");
  background-size: cover;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: 16px;
  position: relative;
}
.neon-lines {
  position: fixed;
  top: -150px;
  left: 0;
  width: 100%;
  max-width: 5000px;
  height: 5000px;
  pointer-events: none;
  z-index: 9997;
}

/* Neon line styling */
.neon-line {
  position: absolute;
  width: 1px;
  height: 1500px;
  background: var(--Accent);
  box-shadow: 0 0 10px yellow, 0 0 30px yellow, 0 0 100px yellow;
  animation: neon-animation 1s infinite alternate;
}
a {
  color: var(--Accent);
}
/* Left neon line */
.neon-line.left {
  left: 0;
}

/* Right neon line */
.neon-line.right {
  right: 0;
}

/* Neon animation */
@keyframes neon-animation {
  from {
    opacity: 0.8;
    box-shadow: 0 0 20px var(--Accent), 0 0 60px var(--Accent), 0 0 150px var(--Accent);
  }
  to {
    opacity: 1;
    box-shadow: 0 0 10px var(--Accent), 0 0 30px var(--Accent), 0 0 100px var(--Accent);
  }
}
/* Media query to hide neon lines on mobile devices */
@media (max-width: 768px) {
  .neon-line {
    display: none;
  }
}

header {
  background-color: var(--Primary);
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 45px;
  width: 100%;
  border-bottom-left-radius:25px;
  border-bottom-right-radius: 25px;
  box-shadow: 0 8px 10px var(--AccentTrans);
  z-index: 9999;
}
nav {
  margin-left: 25px;
  display: flex;
  height: 90%;
  width: 100%;
}

nav ul {
  height: 90%;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li {
  margin: 0 25px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding-right: 20px;
  padding-top: 10px;
  height: 80%;
  display: flex;
  align-items: center;
  position: relative;
}

nav ul li a:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid transparent;
}

nav ul li a:hover {
  color: var(--Accent);
}
.logo {
  overflow: visible;
  margin-right: 50%;
  width: 90px;
  height: 90px;
}
div {
  flex: 1;
  width: 90%;
  max-width: 1200px;
  margin: 80px auto;
  padding: 5px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.active {
  color: yellow; /* Or any other style you prefer for the active state */
}
.animated-background {
    position: fixed;
    top: -50px;
    left: 0;
    width: 100%;
    max-width: 5000px;
    height: 100%;
    background: repeating-linear-gradient(
      0deg,
      var(--SecondaryTrans),
      var(--SecondaryTrans) 160px,
      var(--PrimaryTrans) 160px,
      var(--PrimaryTrans) 320px
  );
  background-size: 200% 200%;
  animation: stripesMove 45s linear infinite;
}
@keyframes stripesMove {
    0% {
        background-position:  100% 100%;
    }
    100% {
        background-position: 0 0;
    }
}
#banner {
  background-color: var(--Secondary);
  color: White;
  height: 25px;
  width: 100%;
  text-align: center;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: -100px; /* Start off-screen */
  left: 0;
  right: 0;
  z-index: 9997;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.45);
  transition: bottom 0.5s ease-in-out;
}

#banner.visible {
  bottom: 25px;
}

.wrapper {
  top: 60px;
  padding: 15px;
  max-width: 90%;
  width: 1200px;
  margin: 20px auto;
  color: white;
}
.art-wrapper {
  top: 60px;
  padding: 15px;
  max-width: 90%;
  width: 1200px;
  margin: 20px auto;
}
.artwork {
  top: 60px;
  padding: 5px;
  max-width: 90%;
  margin: 5px auto;
}
.columns {
  display: flex;
  flex-flow: row wrap;
  margin: 10px 0;
}
.artwork {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    padding: 10px;
}
.hidden {
    display: none;
}

/* Modal styles */
.modal {
    display: none; /* Initially hidden */
    position: fixed;
    align-content: center;
    z-index: 9999;
    left: 25%;
    top: 0;
    width: 50%;
    height: 80%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: var(--Primary);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.card {
  width: 100%;
  background-color: var(--PrimaryTrans);
  transition: transform 500ms;
  will-change: transform;
  flex: 1;
  margin: 15px;
  padding: 10px;
  border-radius: 20px;
  border-bottom: 6px double;
  border-color: var(--Accent);
  backdrop-filter: blur(2px);
}
.card:hover {
  background-color: var(--SecondaryTrans);
  transform: translateY(-10px);
  flex: 1;
  margin: 15px;
  padding: 10px;
  border-radius: 20px;
  border-bottom: 6px double;
  border-color: var(--Accent);
  backdrop-filter: blur(4px);
}

.card:first-child {
  margin-left: 0;
}

.card:last-child {
  margin-right: 0;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 24px;
  background-color: var(--Primary);
  text-align: center;
  box-shadow: 0 -8px 10px var(--AccentTrans);
  color: white;
  z-index: 9999;
}
